body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #a6a6a6;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 30vw 70vw;
  grid-template-rows: 2;
}

h1 {
  grid-row-start: 1;
  grid-column: 1 / span 2;
}

#map {
  height: 100vh;
  grid-row-start: 2;
  grid-column-start: 2;

}

.listSection {
  height: 100vh;
  grid-row-start: 2;
  grid-column-start: 1;
}

.placesList {
  list-style-type: none;
}
