:root {
  --main-color: #FBCD61;
  --main-font: #406647;
  --list-section: #fde7b4;
  --error-text: #fff;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--main-color);
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

#container {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows:  25% 30px auto;;
}

h1 {
  grid-row-start: 1;
  grid-column: 1 / span 2;
  font-weight: 700;
  font-size: 3em;
  color: var(--main-font);
  margin: 25px 0 0 0;
}

h2 {
  grid-row-start: 2;
  grid-column: 1/ span 2;
  color: var(--main-font);
  font-size: 10px;
  margin: 0;
}

#map {
  height: 100vh;
  width: 100vw;
  grid-row-start: 3;
  grid-column-start: 1;
  margin-top: 0;
  border-top: 2px solid var(--main-font);
}

#maperror {
  font: italic bold 20px Georgia, serif;
  margin-left: 300px;
  margin-top: 180px;
  width: 60%;
}

#listSection {
  width: 30vw;
  height: 100vh;
  z-index: 5;
  grid-row-start: 3;
  grid-column-start: 1;
  background-color: var(--list-section);
  border: 2px solid var(--main-font);
  overflow: scroll;
  /* transition: 1s; */
  margin-top: 0;
}

/*fades text at bottom of places section*/
.fade-text {
  height: 50px;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent, #fde7b4);
}

.placesList {
  list-style-type: none;
  color: var(--main-font);
  text-align: left;
}

.placesList li {
  padding: 3px;
}

.menu-icon {
  grid-row-start: 2;
  grid-column-start: 1;
  justify-self: left;
  position: absolute;
  left: 7px;
  top: 60px;
  color: var(--main-font);
}

.list-hide {
  display: none;
}

.list-show {
  display: block;
}

.categories {
  margin: 10px 0 0 0;
  padding: 0;
}

.categories li {
  list-style-type: none;
  background-color: var(--main-font);
  color: #e3deb5;
  display: inline-block;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}

#filter-places {
  width: 90%;
  box-shadow: 1px 1px 2px 1px #ccc;
  margin-top: 5px;
}
/*filter box hold text */
::placeholder {
  color: #d9d9d9;
}

.filterError {
  margin: 10% 0 0 10%;
  width: 80%;
}

/* infowindow styling */
.infowindow {
  /* width: 300px;
  height: 200px; */
  overflow: auto;
  text-align: center;
  margin: 0 auto 10px;
  border-radius: 10px;
}

.fsDetails-error {
  background: #ff0000;
  height: 100%;
}

.fsDetails-error h2{
  font-size: 1.25em;
    color: var(--error-text);
    padding: 15px;
}

.fsDetails-error p{
  font-size: 1.25em;
  color: var(--error-text);
}

.places-details {
  color: #006622;
}

 .place-name {
  /* background-color: #fff7e6; */
  height: 40px;
  font-size: 1.4em;
  text-align: center;
  border-bottom: 7px double #006622;
  border-radius: 10px;
  /* position: sticky; */
  top: 0;
  z-index: 10;
}

/*========breakpoints for mobile==============*/
  @media only screen and (max-width: 700px) {
  h1 {
    font-size: 2em;
  }

  #maperror {
    margin-left: 220px;
    width: 40%;
  }

  #listSection {
    height: 50vh;
    width: 50vw;
    z-index: 5;
  }

  .placesList li{
    margin-right: 15px;
    margin-left: -10px;
  }

}
